.legal-card {
  @apply p-10 max-w-2xl mx-auto;
}

.legal-icon {
  @apply text-jungle-500 mb-4;

  font-size: 56px;
  width: 56px;
  height: 56px;
}

.legal-body {
  @apply text-slate-600 text-base leading-relaxed;
}

:host-context(html.dark) .legal-body {
  @apply text-slate-400;
}
