<div class="pwd-gen-wrapper">
  <div class="pwd-gen-header">
    <mat-icon class="pwd-gen-icon">vpn_key</mat-icon>
    <h2 class="pwd-gen-title">{{ 'tools.passwordGenTitle' | translate }}</h2>
    <button mat-icon-button class="pwd-gen-close" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="pwd-display-row">
    <mat-form-field appearance="outline" class="pwd-field">
      <mat-label>{{ 'tools.generatedPassword' | translate }}</mat-label>
      <input matInput [value]="generatedPassword" readonly class="font-mono">
    </mat-form-field>
    <button mat-icon-button (click)="copyToClipboard()" [matTooltip]="'tools.copy' | translate" class="copy-btn">
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>

  <div class="option-row">
    <span class="option-label">{{ 'tools.length' | translate }}: <strong>{{ length }}</strong></span>
    <mat-slider min="6" max="64" step="1" class="length-slider">
      <input matSliderThumb [(ngModel)]="length" (ngModelChange)="generate()">
    </mat-slider>
  </div>

  <div class="options-grid">
    <mat-checkbox [(ngModel)]="includeNumbers" (ngModelChange)="generate()">
      {{ 'tools.includeNumbers' | translate }}
    </mat-checkbox>
    <mat-checkbox [(ngModel)]="includeLowercase" (ngModelChange)="generate()">
      {{ 'tools.includeLowercase' | translate }}
    </mat-checkbox>
    <mat-checkbox [(ngModel)]="includeUppercase" (ngModelChange)="generate()">
      {{ 'tools.includeUppercase' | translate }}
    </mat-checkbox>
    <mat-checkbox [(ngModel)]="includeSpecial" (ngModelChange)="generate()">
      {{ 'tools.includeSpecial' | translate }}
    </mat-checkbox>
    <mat-checkbox [(ngModel)]="excludeAmbiguous" (ngModelChange)="generate()">
      {{ 'tools.excludeAmbiguous' | translate }}
    </mat-checkbox>
  </div>

  <div class="pwd-gen-actions">
    <button mat-flat-button class="gen-btn" (click)="generate()">
      <mat-icon>refresh</mat-icon>
      {{ 'tools.generate' | translate }}
    </button>
    <button mat-flat-button class="copy-full-btn" (click)="copyToClipboard()">
      <mat-icon>content_copy</mat-icon>
      {{ 'tools.copy' | translate }}
    </button>
  </div>
</div>
